# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.pytest_cache/
.mypy_cache/

# Go
bin/
*.exe
*.test
*.out
vendor/

# Logs & local artifacts
*.log
*.csv
.env
.env.*

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
